<div class="row">

<div class="col-md-3"></div>
<div class="col-md-9">


<form>
<table width="800px">

<tr>

	<th><button type="button" class="btn btn-primary btn-md form-control">Monday</button></th>
	<th><button type="button" class="btn btn-primary btn-md form-control">Tuesday</button></th>
	<th><button type="button" class="btn btn-primary btn-md form-control">Wednesday</button></th>
	<th><button type="button" class="btn btn-primary btn-md form-control">Thursday</button></th>
	<th><button type="button" class="btn btn-primary btn-md form-control">Friday</button></th>
	<th><button type="button" class=" btn btn-primary btn-md form-control">Total Hours</button></th>
</tr>
<tr>
	<td><input ng-model="timesheet.m1" type="number" id="m1" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.t1" type="number" id="t1" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.w1" type="number" id="w1"  class="form-control" name="" /></td>
	<td><input ng-model="timesheet.r1" type="number" id="r1" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.f1" type="number" id="f1" class="form-control" name="" /></td>
	<td><input disabled ng-model="timesheet.week1" class="form-control" name="" /></td>
	
</tr>

<tr>
	<td><input ng-model="timesheet.m2" type="number" id="m2" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.t2" type="number" id="t2" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.w2" type="number" id="w2"  class="form-control" name="" /></td>
	<td><input ng-model="timesheet.r2" type="number" id="r2" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.f2" type="number" id="f2" class="form-control" name="" /></td>
	<td><input disabled ng-model="timesheet.week2" class="form-control" name="" /></td>
	
</tr>
<tr>
	<td><input ng-model="timesheet.m3" type="number" id="m3" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.t3" type="number" id="t3" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.w3" type="number" id="w3"  class="form-control" name="" /></td>
	<td><input ng-model="timesheet.r3" type="number" id="r3" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.f3" type="number" id="f3" class="form-control" name="" /></td>
	<td><input disabled ng-model="timesheet.week3" class="form-control" name="" /></td>
</tr>
<tr>
	<td><input ng-model="timesheet.m4" type="number" id="m4" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.t4" type="number" id="t4" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.w4" type="number" id="w4"  class="form-control" name="" /></td>
	<td><input ng-model="timesheet.r4" type="number" id="r4" class="form-control" name="" /></td>
	<td><input ng-model="timesheet.f4" type="number" id="f4" class="form-control" name="" /></td>
	<td><input disabled ng-model="timesheet.week4" class="form-control" name="" /></td>
</tr>


</table>
<form>
</div>
</div>